--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.8.0+cu128
torchvision==0.23.0+cu128
numpy==2.0.1
matplotlib==3.10.5
opencv-python==4.12.0.88
pandas==2.3.2
pillow==11.0.0
PyYAML==6.0.2
scipy==1.15.3
seaborn==0.13.2
tensorboard==2.20.0
tqdm==4.67.1

# YOLOv8: editable install from local source clone
# Requires project root as working directory when running `pip install -r requirements.txt`
-e yolov8/ultralytics
